
.App {
  text-align: center;
  border-radius: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
  border-radius: 0;
}

.main-app-container .list-group-item {
  display: flex;
}

.list-group-item .form-check {
  width: 100%;
}

.list-group-item-actions {
  text-align: center;
  padding-right: 1ch;
  padding-left: 0px;

  clear: both;
  height: 1px;
  float:left;

   min-width: 12ch;
}

.list-group-item-actions-last {
  right: 2ch;
}
.list-group-item-actions span {
  display: none;
  color: #c00;
}

.main-app-container .list-group-item:hover .list-group-item-actions span {
  display: inline;
  cursor: pointer;
}

.list-group-item-actions span:hover {
  text-decoration: underline;
}

.list-group-item.vacancy-completed {
  background-color: #f2f2f2;
  border-width: 0px;
}

.list-group-item.vacancy-completed .form-check-label {
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.modal-content {
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
  -webkit-border: 0px !important;
  -moz-border: 0px !important;
  border: 0px !important;
}

.btn {
  border-radius: 0px !important;
}

.btn-primary {
   background-color: #18186A !important;
}

.form-control {
    border-radius: 0px !important;
}

.list-group {
    border-radius: 0px !important;
}
